@charset "utf-8";

.contentPadd.txtPage,
.ui-dialog,
.ui-dialog-titlebar,
.cart,
.ui-progressbar,
.ui-datepicker,
.result1_top, .result2_top, 
.contentInfoText.un, 
.contentInfoBlock	{
	-moz-border-radius: 3px; /* Firefox */
  	-webkit-border-radius: 3px; /* Safari, Chrome */
 	-khtml-border-radius: 3px; /* KHTML */
  	border-radius: 3px;
}
.cart_products_options,
.row_7 CHECKBOX, .row_7 INPUT, .row_7 RADIO, .row_7 select, .row_7 textarea,
.fieldValue  input	{
	-moz-border-radius: 3px; /* Firefox */
  	-webkit-border-radius: 3px; /* Safari, Chrome */
 	-khtml-border-radius: 3px; /* KHTML */
  	border-radius: 3px;
}
.contentInfoText	{
	 -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px; -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px;
	 
}
.wrapper_pic_tl,
.wrapper_pic_tr,
.wrapper_pic_bl,
.wrapper_pic_br,
.wrapper_pic_t,
.wrapper_pic_r,
.wrapper_pic_b,
.wrapper_pic_l,

.wrapper_pic_tl:hover,
.wrapper_pic_tr:hover,
.wrapper_pic_bl:hover,
.wrapper_pic_br:hover,
.wrapper_pic_t:hover,
.wrapper_pic_r:hover,
.wrapper_pic_b:hover,
.wrapper_pic_l:hover,

					{
	-webkit-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
}
.contentPadd h3,
.cart th.th1	{
	-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px;
}
.contentPadd h3,
.cart th.th3	{
	-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px;
}
.wrapper	{
 border-radius:23px 23px 23px 23px;
 -moz-border-radius:23px 23px 23px 23px;
 -webkit-border-radius:23px 23px 23px 23px;
 
-moz-box-shadow: 1px 1px 1px #d4d4d4;
-webkit-box-shadow: 1px 1px 1px #d4d4d4;
box-shadow: 1px 1px 1px #d4d4d4;
position:relative;
}
.box-padd	{
 border-radius: 0 0 3px 3px;
 -moz-border-radius: 0 0 3px 3px;
 -webkit-border-radius: 0 0 3px 3px;
}