@charset "utf-8";

.bg_button2,
.bg_button22,
.bg_button2-act, 
.bg_button22-act			{display:inline;}

#piGal ul 					{margin-left:0px;}

.input_radio input			{margin: 0px 0px 0px 0px;}
.radio_set					{margin: 1px 0px 0px 0px;display:inline-block;}

.headerBoxContents .input	{margin-top:4px;}
.cs-buttons					{margin-left:167px;}
.prods_info li.port_side,
.prods_content li.port_side 		{width:23.5%; }

.prods_info li.starboard_side,
.prods_content li.starboard_side 	{width:76%;}

.prods_info.big li.port_side 			{width:32.5%; }
.prods_info.big li.starboard_side 		{width:67%;}
